# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.envnode_modules/

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# secret .json file
secret.json